//mixin for repetitive styles and where we want to use then do @include 
main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .form-container{
        width: 400px;
        background: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        // background-color: #007BFF;
        // display: flex;
        // flex-direction: column;
    
        form{
        display: flex;
        flex-direction: column;
    
        h1{
            text-align: center;
            margin-bottom: 1.5rem;
            color: #333;
        }
    
        input{
            margin-bottom: 1rem;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 4px;
    
            &:focus{
            border-color: #007BFF;
            outline: none;
            }
        }
    
       
        }
        p{
            text-align: center;
            margin-top: 1rem;
            color: #555;
        }
    }
}